.ligue {
  display: flex;
}

.groups {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid gold;
  margin: 5px;
  padding: 5px;
}

.group input {
  display: flex;
  margin-bottom: 5px;
  width: 40%;
}

.group {
  display: flex;
  flex-direction: column;
  border: 1px solid goldenrod;
  margin-top: 5px;
  padding: 10px;
  width: 70%;
}

.start {
  align-self: flex-start;
}

.end {
  align-items: end;
}

.input_end {
  align-self: flex-end;
}

.quarter{
  width: 30%;
}

.semi_final{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.semi_final_start{
  display: flex;
  flex-direction: column;
  align-self: start;
}

.final{
  margin: 30% auto;
}