<button (click)="play()">PLAY</button>
<div class="ligue">
  <div class="groups">
    <div class="container start">
      <h2>Group A</h2>
      <div class="wrap">
        <div class="group">
          <input nz-input nzSize="small" [value]="groupA2[0]?.team_name" />
          <input nz-input nzSize="small" class="input_end" [value]="groupA7[0]?.team_name">
          <input nz-input nzSize="small" [value]="groupA2[1]?.team_name" />
        </div>
        <input nz-input nzSize="small" class="input_end quarter" [value]="quarterA12[0]?.team_name">
        <div class="group">
          <input nz-input nzSize="small" [value]="groupA4[0]?.team_name" />
          <input nz-input nzSize="small" class="input_end" [value]="groupA8[0]?.team_name">
          <input nz-input nzSize="small" [value]="groupA4[1]?.team_name" />
        </div>
      </div>
    </div>
    <div class="semi_final">
      <input nz-input nzSize="small" class="quarter" [value]="semiFinalA[0]?.team_name">
    </div>

    <div class="container start">
      <div class="wrap">
        <div class="group">
          <input nz-input nzSize="small" [value]="groupA5[0]?.team_name" />
          <input nz-input nzSize="small" class="input_end" [value]="groupA9[0]?.team_name">
          <input nz-input nzSize="small" [value]="groupA5[1]?.team_name" />
        </div>
        <input nz-input nzSize="small" class="input_end quarter" [value]="quarterA13[0]?.team_name">
        <div class="group">
          <input nz-input nzSize="small" [value]="groupA6[0]?.team_name" />
          <input nz-input nzSize="small" class="input_end" [value]="groupA10[0]?.team_name">
          <input nz-input nzSize="small" [value]="groupA6[1]?.team_name" />
        </div>
      </div>
    </div>
  </div>
  <div class="final">
    <input nz-input nzSize="small" [value]="champion[0]?.team_name">
  </div>
  <div class="groups">
    <div class="container end">
      <h2>Group B</h2>
      <div class="wrap">
        <div class="group input_end">
          <input nz-input nzSize="small" class="input_end" [value]="groupB3[0]?.team_name" />
          <input nz-input nzSize="small" [value]="groupB9[0]?.team_name" />
          <input nz-input nzSize="small" class="input_end" [value]="groupB3[1]?.team_name" />
        </div>
        <input nz-input nzSize="small" class="quarter" [value]="quarterB13[0]?.team_name">
        <div class="group input_end">
          <input nz-input nzSize="small" class="input_end" [value]="groupB4[0]?.team_name" />
          <input nz-input nzSize="small" [value]="groupB10[0]?.team_name" />
          <input nz-input nzSize="small" class="input_end" [value]="groupB4[1]?.team_name" />
        </div>
      </div>
    </div>
    <div class="semi_final_start">
      <input nz-input nzSize="small" class="quarter" [value]="semiFinalB[0]?.team_name">
    </div>
    <div class="container end">
      <div class="wrap">
        <div class="group input_end">
          <input nz-input nzSize="small" class="input_end" [value]="groupB5[0]?.team_name" />
          <input nz-input nzSize="small" [value]="groupB7[0]?.team_name">
          <input nz-input nzSize="small" class="input_end" [value]="groupB5[1]?.team_name" />
        </div>
        <input nz-input nzSize="small" class="quarter" [value]="quarterB12[0]?.team_name">
        <div class="group input_end">
          <input nz-input nzSize="small" class="input_end" type="text" [value]="groupB6[0]?.team_name">
          <input nz-input nzSize="small" [value]="groupB8[0]?.team_name" />
          <input nz-input nzSize="small" class="input_end" type="text" [value]="groupB6[1]?.team_name">
        </div>
      </div>
    </div>
  </div>
</div>
